<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
    <meta name="description" content="Welcome to the
      website of Ivmero Labs, the leading executor
      of digital ideas on the planet, providing
      precise creations that are ready to use.">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    <title>Ivmero Labs</title>
  </head>
  <body class="home">
    <section>
      <img src="./image/logo.svg" alt="Ivmero Logo"
        width="64"/>
      <h1>Ivmero Labs</h1>
      <h2>Making ideas to live.</h2>
      <a href="./blog">Explore</a>
    </section>
    <footer>
        <a href="./about">About Us</a>
        <a href="./privacy">Privacy Policy</a>
        <a href="./terms">Terms of Use</a>
        <a href="./contact">Contact Us</a>
    </footer>
  </body>
</html>